* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20% 5%;
  }

  h1 {
    margin-bottom: 5px;
  }

  .hero-two {
    margin-top: 10px; 
    margin-bottom: 75px;
  }

  .form {
    width: 90%;
  }

  .search-bar {
    width: 100%;
  }
  
  button, .search-bar {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .about, .how {
    background-color: gray;
    color: white;
    padding: 5%;
    border: 1px black solid;
  }

  .about {
    margin-bottom: 3%;
  }

  .placeholder-results{
    max-width: 500px;
    min-height: 300px;
    max-height: 600px;
    border: 1px black solid;
    background-color: white;
    color: gray;
    margin-left: auto;
    margin-right: auto;
  }

  .results {
    max-width: 85%;
    max-height: 600px;
    /*overflow-y: auto;*/
    border: 1px gray solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  .color-title {
    background-color: gray;
    margin: 0;
    padding: 3%;
  }

  .articles-scroller {
    max-height: 500px;
    overflow-y: auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    font-size: 15px;
  }

  .results-img {
    float: left;
    max-width: 75px;
    margin-top: 20px;
  }

  .container {
    /*max-width: 600px;*/
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }

  .placeholder-map{
    max-width: 500px;
    min-height: 150px;
    max-height: 300px;
    border: 1px black solid;
    background-color: white;
    color: gray;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    padding: 2%;
  }
  
  .hidden {
    display: none;
  }

  @media screen and (min-width: 700px) {
    .form {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .results {
      width: 45%;
      margin-left: 2%;
      margin-right: 2%;
    }
  }